body {
  font-family: sans-serif;
  color: 87B6A7;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    text-align: center
}

  div.scrollmenu a {
    color: white;
    text-align: center;
    padding: 60px;
    text-decoration: none;
  }

  div.scrollmenu a:hover {
    background-color: #777;
  }


  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }







}
.asdf{





}
